<?php
$title = "Lançamentos por categoria";
$this->headTitle($title);
?>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<h1><?php echo $this->escapeHtml($title); ?></h1>
    
     <div class="input-group">
        <select id="ano" name="ano" class="selectpicker" title='Escolha um ano'>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
    </div>
    <br />
    <div class="input-group">
        <select id="mes" name="mes" class="selectpicker"  title='Escolha um mês' >
            <option value="01" selected="true">Janeiro</option>
            <option value="02">Fevereiro</option>
            <option value="03">Março</option>
            <option value="04">Abril</option>
            <option value="05">Maio</option>
            <option value="06">Junho</option>
            <option value="07">Julho</option>
            <option value="08">Agosto</option>
            <option value="09">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
        <span class="input-group-btn">
            <button class="btn btn-primary" id="consultar" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->
    
    

    <br />
    
<?php echo $this->mensagemFlash(); ?>
    <div id="divListaGastos"> 
    
    </div>
    
<script type="text/javascript">
$(function () {
	
	
	$("#consultar").click(function(){
	    var vAno = $("#ano").val();
	    var vMes = $("#mes").val();
	    var myData = "{'ano':'" + vAno+ "', 'mes':'" + vMes+ "'}";

	    $.ajax({
	            type:"GET",
	            url:"<?php echo $this->url('relatorio', array('controller'=>'relatorio','action' => 'consultar')); ?>/"+vMes+"/2014/a",
	    }).done(function(data){
		    var coluna = "";
		    data = data.retorno;
		    lista = '<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">';
		    
		    for (var i = 0; i < data.length; i++) {
		    	  lista = lista + '            <div class="panel panel-default">';
				  lista = lista + '               <div class="panel-heading" role="tab" id="heading' + i + '">';
				  lista = lista + '      		      <h4 class="panel-title">';
				  lista = lista + '      		        <div style="float:left;width:85%;"><a class="collapsed teste" mes='+vMes+' idcategoria=' + data[i].idcategoria + ' data-toggle="collapse" data-parent="#accordion" href="#collapse' + i + '" aria-expanded="false" aria-controls="collapse' + i + '">';
				  lista = lista + '      		          ' + data[i].nocategoria +  " ";
				  lista = lista + '      		        </a></div>';
				  lista = lista +                     '<div ="style:"float:right">' + numeral(data[i].vlgasto).format('$0,0.00')  + '</div>';
				  lista = lista + '      		      </h4>';
				  lista = lista + '      		    </div>';
				  lista = lista + '      		    <div id="collapse' + i + '" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading' + i + '">';
				  lista = lista + '      		      <div class="panel-body" id="detalhado-'+ data[i].idcategoria +'"> a1';
				  lista = lista + '      		      </div>';
				  lista = lista + '      		    </div>';
				  lista = lista + '      	  </div>';
	    	}
		    lista = lista + "</div>";
		    
		    $("#divListaGastos").html(lista);
		    
		    loadHandle()
        }).fail(function(){
               alert("Failure!!");
        });
        
	});

	   	    	
});

function loadHandle()
{
	// load a language
	numeral.language('pt', {
	    delimiters: {
	        thousands: '.',
	        decimal: ','
	    }
	});
	
	$(".teste").click(function(){
	    var vMes = $(this).attr("mes");
	    var vIdcategoria = $(this).attr("idcategoria");
	    $.ajax({
	            type:"GET",
	            url:"<?php echo $this->url('relatorio', array('controller'=>'relatorio','action' => 'consultarDetalhesCategoriaPorMes')); ?>/"+vMes+"/"+vIdcategoria+"/a",
	    }).done(function(data){
		    var coluna = "";
		    lista = '<table class="table">';
            data = data.retorno;
            total = 0;
		    for (var i = 0; i < data.length; i++) {
		    	  dataRegistro = data[i];
		    	  lista = lista + '           <tr>';
		    	  lista = lista + '              <td>' + dataRegistro.dsgasto + '</td>';
		    	  lista = lista + '              <td>' + dataRegistro.dtgasto + '</td>';
		    	  lista = lista + '              <td>' + numeral(dataRegistro.vlgasto).format('$0,0.00')  + '</td>';
				  lista = lista + '      	  </tr>';
				  total = total +  parseFloat(dataRegistro.vlgasto);
	    	}
		    lista = lista + '           <tr>';
	    	lista = lista + '              <td>TOTAL</td>';
	    	lista = lista + '              <td></td>';
	    	lista = lista + '              <td>' + numeral(total).format('$0,0.00') + '</td>';
			lista = lista + '      	  </tr>';
		    lista = lista + "</table>";
		    $("#detalhado-"+ vIdcategoria).html(lista);
        }).fail(function(){
               alert("Failure!!");
        });
	});
}
</script>
