<?php
$title = $this->title;
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>


<?php
echo $this->mensagemFlash();
    
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('lancamento', array(
    'action' => 'adicionar'
)));
echo $this->form()->openTag($form);
?>

<fieldset>
	   <?php echo $this->formHidden($form->get('idgasto')); ?>
		<br /> 

	<div class="input-group">
		<?php
            $element = $form->get("vlgasto");
            echo $this->formelement($element);
            ?>  
	</div>
	<br />
	<div class='input-group date'>
    	<?php
            $element = $form->get("dtgasto");
            $element->setAttribute('class', "form-control");
            $element->setAttribute("id","datetimepicker1");
            $element->setAttribute('placeholder', "Data");
            echo $this->formelement($element);
            ?> 
		<span class="input-group-addon"> <span
			class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
	<br />
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
		<?php
            $element = $form->get("dsgasto");
            $element->setAttribute('class', "form-control");
            $element->setAttribute('placeholder', "Descrição");
            echo $this->formelement($element);
            ?> 
    </div>
	<br />
	<div class="input-group">
    		<?php
                $element = $form->get("idcategoria");
                $element->setAttribute('class', "selectpicker");
                $element->setAttribute('title',"Escolha uma Categoria");
                echo $this->formelement($element);
                ?> 
	</div>
	<div class="input-group">
		<div class="checkbox">
			<label> <?php
                    $element = $form->get("strecorrente");
                    echo $this->formelement($element);
                    ?> 
				Recorrente?
			</label>
		</div>
	</div>
	<br />
	<div class="input-group">
		<?php
            $element = $form->get("submit");
            $element->setAttribute('class', "btn btn-large btn-primary");
            echo $this->formelement($element);
            ?> 
	</div>

</fieldset>

<?php echo $this->form()->closeTag()?>

<script type="text/javascript">
$(function () {
         $('#datetimepicker1').datetimepicker({
        	 lang:'pt',
        	 format:'Y-m-d',
        	 timepicker:false,
          });

         $('.selectpicker').selectpicker();
});
 </script>

 
 