<?php

$title = 'Lançamentos';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php echo $this->mensagemFlash(); ?>
<p>
    <div class="input-group">
    	<a href="<?php echo $this->url('budget', array('controller'=>'lancamento','action'=>'index'));?>">Adicionar novo lançamento</a>
    </div> 
	
</p>

<div class="list-group">

 <?php   foreach ($this->lancamentos as $lancamento) :  
            $dtGasto = new \DateTime( $lancamento["dtgasto"],  new \DateTimeZone( 'America/Sao_Paulo' ) );
            $dtGasto = $dtGasto->format('d/m/Y');
 ?>
      <a href="<?php echo $this->url('lancamento',array('action'=>'edit','idgasto' => $lancamento["idgasto"]));?>" class="list-group-item">
         <h4 class="list-group-item-heading"><?php echo  $lancamento["dsgasto"];?> </h4>
         <p class="list-group-item-text"><?php echo  $this->escapeHtml($dtGasto) . "&nbsp;&nbsp;&nbsp;&nbsp;" .  strtoupper($lancamento["nocategoria"]) ; ?>
            <b style="float:right;"><?php echo number_format($lancamento["vlgasto"], 2, ',', '.');?></b>
         </p>
         
      </a>
<?php endforeach; ?>
</div>


 <script type="text/javascript">
 

</script>