<?php 
$title = 'Adicionar Categoria';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 
 
 <?php
 echo $this->mensagemFlash();
 
 $form = $this->form;
 $form->prepare();
 echo $this->form()->openTag($form);
?>

<fieldset>
    <div class="input-group">
        <?php
            echo $this->formHidden($form->get('idcategoria'));
            
            $element = $form->get("nocategoria");
            $element->setAttribute('class', "form-control");
            $element->setAttribute('placeholder', "Nome da Categoria");
            echo $this->formelement($element);
       ?> 
    </div>
    <br />
    <div class="input-group">
		<?php
            $element = $form->get("submit");
            $element->setAttribute('class', "btn btn-large btn-primary");
            $element->setAttribute("value","Salvar");
            echo $this->formelement($element);
            ?> 
	</div>    
</fieldset>
<?php echo $this->form()->closeTag()?>