<?php

$title = 'Categorias';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php echo $this->mensagemFlash(); ?>
<p>
<div class="input-group">
	<a href="<?php echo $this->url('budget', array('action'=>'add'));?>">Adicionar nova Categoria</a>
</div> 
	
</p>

<div class="list-group">

 <?php   foreach ($this->categorias as $categoria) : ?>
      <a href="<?php echo $this->url('budget',array('action'=>'edit','idcategoria' => $categoria["idcategoria"]));?>" class="list-group-item">
        <?php echo $this->escapeHtml($categoria["nocategoria"]);?>
      </a>
<?php endforeach; ?>
</div>


 <script type="text/javascript">
 

</script>
